@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Outfit, Verdana, Tahoma, sans-serif;
}

header {
    background-color: #59114D;
    color: #ECE5F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-links {
    display: flex;
    list-style-type: none;
    gap: 5px;
    flex-wrap: wrap;
}

/*Productos*/
.prod-titulo {
    text-align: center;
    margin: 5% 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.item {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

/*Card*/
.precio {
    font-size: x-large;
    margin-left: 1%;
}

.oferta {
    font-size: medium;
    color: #003B36;
    margin-left: 1%;
}

.descripcion {
    font-size: small;
    text-align: left;
    margin-left: 1%;
}

.btn-item {
    background-color: #003B36;
    color: #ECE5F0;
    padding: 3%;
    border-radius: 10px;
}

.btn-item:hover {
    color: #003B36;
    background-color: #ECE5F0;
    cursor: pointer;
}

.form-section {
    background-color: #003B36;
    color: #ECE5F0;
    text-align: center;
    border: 2px black solid;
    border-radius: 10px;
    padding-bottom: 25%;
}

.footer {
    background-color: #59114D;
    color: #ECE5F0;
    padding: 5%;
    text-align: center;
    border: 2px solid black;
    font-family: Outfit, Verdana, Tahoma, sans-serif;
}

/*Medias queries*/
@media only screen and (max-width: 400px) {
    header {
        flex-direction: column;
}
}

@media only screen and (min-width: 601px) {
    .form-section {
        background-color: #012622;
        color: #E98A15;
    }
}
